* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    font-family:'Courier New', Courier, monospace;
}

.box{
    background-color: grey;
    border: solid black 2px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.content {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    clear: right;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    width: 100px;
    float: right;
    border: solid black 2px;
    text-align: center;
    overflow: auto;
    position: relative;
    top: -2px;
    right: -2px;
}

#h1 {
    background-color: rgb(175, 7, 241);
}

#h2 {
    background-color: rgb(3, 171, 248);
}

#h3 {
    background-color: rgb(8, 212, 8);
}




