* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

.box{
    background-color: grey;
    margin: 5px;
    border: solid black 2px;
}

.content {
    text-align: left;
    clear: right;
}

.heading {
    margin: 0;
    padding: 5px;
    width: 100px;
    float: right;
    border: solid black 2px;
    text-align: center;
    overflow: auto;
    position: relative;
    top: -2px;
    right: -2px;
}

#h1 {
    background-color: rgb(175, 7, 241);
}

#h2 {
    background-color: rgb(3, 171, 248);
}

#h3 {
    background-color: rgb(8, 212, 8);
}




